@page
@model RegisterPage.Pages.Credentials.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>register</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.register.username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.register.username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.register.password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.register.password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.register.firstname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.register.firstname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.register.lastname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.register.lastname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.register.dob)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.register.dob)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.register.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
